<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726232531429-kacipicvttnnoq79rqajs883lo7bk14j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726232531429-kacipicvttnnoq79rqajs883lo7bk14j</string>
	<key>API_KEY</key>
	<string>AIzaSyBeRe0t9ZJ8rM9Q8_HLS4gGR5-xG_soaeY</string>
	<key>GCM_SENDER_ID</key>
	<string>726232531429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cnu.cse.dayo2n.diEAT</string>
	<key>PROJECT_ID</key>
	<string>dieat-be9b0</string>
	<key>STORAGE_BUCKET</key>
	<string>dieat-be9b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726232531429:ios:1d8d69dfea40cd2722ef0c</string>
</dict>
</plist>