<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>IBMPlexSans-Bold.ttf</string>
		<string>IBMPlexSans-ExtraLight.ttf</string>
		<string>IBMPlexSans-Light.ttf</string>
		<string>IBMPlexSans-Medium.ttf</string>
		<string>IBMPlexSans-Regular.ttf</string>
		<string>IBMPlexSans-SemiBold.ttf</string>
		<string>IBMPlexSans-Text.ttf</string>
		<string>IBMPlexSans-Thin.ttf</string>
		<string>IBMPlexSansKR-Bold.ttf</string>
		<string>IBMPlexSansKR-ExtraLight.ttf</string>
		<string>IBMPlexSansKR-Light.ttf</string>
		<string>IBMPlexSansKR-Medium.ttf</string>
		<string>IBMPlexSansKR-Regular.ttf</string>
		<string>IBMPlexSansKR-SemiBold.ttf</string>
		<string>IBMPlexSansKR-Text.ttf</string>
		<string>IBMPlexSansKR-Thin.ttf</string>
	</array>
</dict>
</plist>
